.login-page{
   text-align: center;
   background: url("/images/400\ Amazing\ Mixed\ Wallpapers.Pack102\ \(196\).jpg");
   height: 100vh;
   width: 100vw;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.login-page__box{
    padding: $l-size $m-size;
    background:  fade-out(white, .15);
    border-radius: 5px;
    text-align: center;
    width: 30%
}

.login-page__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
} 