.login-page{
   text-align: center;
   background: blue;
   height: 100vh
}


.login-page button{
    padding : 1rem;
    margin-top: 10rem;
    background-color: green;
    border: 1px solid green;
    width: 50%;
    color: #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 5rem
}